.btn {
  display: block;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--main-light);
  background-color: var(--secondary-dark);
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}
.btn:hover {
  background-color: #7923dc;
  transition: background-color 0.3s ease;
}
.google:hover {
  background-color: red;
  color: var(--main-light);
}
.facebook:hover {
  background-color: blue;
  color: var(--main-light);
}

.btn:active {
  transform: translateY(1px);
}
