.formRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
input {
  border-radius: 10px; /* Adjust the value to control the roundness of the ellipse */
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #f1f1f1;
}
label {
  font-size: 18px;
}
.name {
  display: flex;
  width: 20%;
  justify-content: end;
  background-color: red;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
