.navbar {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 2px solid var(--main-dark);
  flex-grow: 1;
}
.logged {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.mainRoutes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  width: 30%;
}
svg {
  stroke: var(--main-dark);
}
