.edit-profile-data {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile-data form {
  display: flex;
  flex-direction: column;
}

.input-part {
  margin-bottom: 15px;
}

.input-part label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-part input,
.input-part textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-part input:focus,
.input-part textarea:focus {
  outline: none;
  border-color: #007bff;
}

textarea {
  resize: vertical;
  line-height: 2;
}

.save-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.save-btn:hover {
  background-color: #0056b3;
}
.add-image-button {
  margin-top: 20px;
}

.add-image-form {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically centered */
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.custom-file-upload input[type="file"] {
  max-width: 600px;
  margin: 0 auto;
  margin-left: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 13px;
}

.add-button:hover {
  background-color: #0056b3;
}

.add-button:focus {
  outline: none;
}
