:root {
  --secondary-light: #5588a3;
  --main-light: #e0f7fa;
  --light-2: #b2ebf2;
  --light-3: #80deea;
  --light-4: #4dd0e1;
  --secondary-dark: #00838f;
  --main-dark: #006064;

  --dark-2: #0097a7;
  --dark-3: #00acc1;
  --dark-4: #00bcd4;
}
.loginPageBox {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
.login-card {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  font-family: sans-serif;
}
.login-card h1 {
  background: linear-gradient(45deg, #20272b, #0056b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/* BUTTON */
.login-btn {
  display: block;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--main-light);
  background: linear-gradient(45deg, #20272b, #0056b3);
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}
.login-card .github,
.login-card .google {
  width: 95%;
}
.login-btn:hover {
  background: #7923dc;
}
.google:hover {
  background-color: red;
  color: var(--main-light);
}
.github:hover {
  background-color: rgba(35, 35, 36, 0.643);
  color: var(--main-light);
}

.login-btn:active {
  transform: translateY(1px);
}
.forgot-password {
  margin-top: 2px !important;
}
/* sign up card */

.separator {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
/* ------------------------------------- */
/* signup form */

input {
  padding: 15px;
  border-radius: 100px; /* Adjust the value to control the roundness of the ellipse */
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 100% !important;
}

/* ---------login image */
.login-image {
  width: 50%;
  height: auto;
}
