:root {
  --secondary-light: #5588a3;
  --main-light: #e0f7fa;
  --light-2: #b2ebf2;
  --light-3: #80deea;
  --light-4: #4dd0e1;
  --secondary-dark: #00838f;
  --main-dark: #006064;
  --dark-2: #0097a7;
  --dark-3: #00acc1;
  --dark-4: #00bcd4;
}
.signupPageBox {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
/* BUTTON */
.signup-btn {
  display: block;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--main-light);
  background-color: var(--secondary-dark);
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}
.signup-btn:hover {
  background-color: #7923dc;
  transition: background-color 0.3s ease;
}
.google:hover {
  background-color: red;
  color: var(--main-light);
}
.facebook:hover {
  background-color: blue;
  color: var(--main-light);
}

.signup-btn:active {
  transform: translateY(1px);
}
/* sign up card */
.card {
  /* background-color: var(--main-dark); */
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  border-radius: 50px;
  color: var(--main-dark);
  font-family: sans-serif;
}
.separator {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
/* ------------------------------------- */
/* signup form */
.formRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

input {
  border-radius: 100px;
  padding: 10px 0 10px 10px;
  width: 100%;
  background-color: #f1f1f1;
}
input:hover {
  border: 1px solid var(--main-dark);
}
label {
  font-size: 18px;
}
.names {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 24px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* ----------sign up image ---------- */
.signup-image {
  width: 60%;
}

/* ------------------ */
.formRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
input {
  padding: 15px;
  border-radius: 100px; /* Adjust the value to control the roundness of the ellipse */
  border: 1px solid #ccc;
  width: 100%;
  background-color: #f1f1f1;
}
label {
  font-size: 18px;
  margin: 25px 0px 10px 0px;
}

/* ---------login image */
.login-image {
  width: 55%;
}
