.links {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.links:hover {
  color: #7923dc;
}
.signupPageBox {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
/* BUTTON */
.signup-btn {
  display: block;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, #20272b, #0056b3);
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}
.signup-btn:hover {
  background: #7923dc;
}
.google:hover {
  background: red;
}
.facebook:hover {
  background: blue;
  color: var(--main-light);
}

.signup-btn:active {
  transform: translateY(1px);
}
/* sign up card */
.card {
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  font-family: sans-serif;
}
.card h1 {
  background: linear-gradient(45deg, #20272b, #0056b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.separator {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
/* ------------------------------------- */
/* signup form */
.formRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.formRow input {
  border-radius: 100px;
  padding: 15px;
  border: 1px solid #ccc;
  width: 94% !important;
  background-color: #f1f1f1;
}
input:hover {
  border: 1px solid var(--main-dark);
}
label {
  font-size: 18px;
}
.names {
  display: flex;
  width: 97%;
  justify-content: space-between;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* ----------sign up image ---------- */
.signup-image {
  width: 50%;
  height: auto;
  border-radius: 0%;
}

/* ------------------ */
.formRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

label {
  font-size: 18px;
  margin: 25px 0px 10px 0px;
}

.alert-message {
  color: red;
  margin: 1rem;
  font-size: x-large;
}
