.userpage-main{
    margin: 2rem auto;
    width: 70%;
    background-color: rgba(0, 81, 255, 0.161);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
}
.userpage-main p{
    text-align: left;
}
img{
    border-radius: 500px;
    width: 10rem;
    height: 10rem;
}
.img-title{
    display: flex;
    width: 30%;
    gap: 1rem;
}
.userpage-title{
    text-align: left;
}
