.userpage-main {
  margin: 2rem auto;
  width: 90%;
  padding: 2rem;
  gap: 1rem;
  background-color: rgba(178, 207, 236, 0.318);
  border-radius: 25px;
  justify-content: first baseline;
}
.userpage-main p {
  text-align: left;
}

.userpage-main h1 {
  text-align: left;
}
img {
  border-radius: 500px;
  width: 10rem;
  height: 10rem;
}
.img-title {
  display: flex;
  width: 30%;
  gap: 1rem;
}
.userpage-title {
  text-align: left;
}
