/* video player */
.video-container {
  position: relative;
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  background-color: #000; /*to appear when on theter mode*/
}
video {
  width: 100%;
}
.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.video-controls-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  width: 100%;
  z-index: -1;
  pointer-events: none;
}
.video-container:hover .video-controls-container,
.video-container.paused .video-controls-container {
  opacity: 1;
}
.video-controls-container .controls {
  display: flex;
  gap: 0.5rem;
  padding: 2.5rem;
  align-items: center;
}
.video-controls-container .controls button {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}
/* based on theater mode */
.video-container.theater {
  max-width: initial;
  width: 100%;
  max-height: 85vh;
}
/* based on full screen mode */
.video-container.full-screen {
  max-width: initial;
  width: 100%;
  max-height: 100vh;
}
/* -------------------------- */
.volume-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}
.volume-container:hover .volume-slider {
  width: 100px;
  transform: scaleX(1);
}

#volume-range {
  -webkit-appearance: none;
  max-width: 80%;
  height: 2px;
  outline: none;
  background-color: var(--light-3);
  border-radius: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.duration-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.25rem;
  flex-grow: 1;
}

.video-controls-container .controls button.wide-btn {
  width: 50px;
  color: var(--light-3);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 500px;
}
/* ------------------------------------ */
/* video timeline */
.timeline-container {
  height: 7px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.timeline {
  background-color: rgba(100, 100, 100, 0.5);
  height: 3px;
  width: 100%;
  position: relative;
}
.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: var(--light-3);

  /* display: none; */
}
.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-progress) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  height: 200%;
  top: -50%;
  transform: translateX(-50%) scale(--scale);
  left: calc(var(--progress-position) * 100%);
  background-color: var(--light-4);
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1/1;
}

.timeline .preview-img {
  position: absolute;
  height: 80px;
  aspect-ratio: 16/9;
  top: -1rem;
  transform: translate(-50%, -100%);

  left: calc(var(--preview-position) * 100%);
  border-radius: 0.25rem;
  border: 1px solid white;
  display: none;
}
.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}
.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
  display: block;
}
.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}
.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}
.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}

/* ----------------------------- */
/* css of the page itself  */

/* question card */
/* reply card */

.question-card,
.reply-card {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 5px;
}
.question-card:hover {
  background-color: rgba(142, 145, 148, 0.156);
}
.question-card svg,
.reply-card svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.question-card svg:hover {
  stroke: rgb(0, 81, 255);
}
.numbers-reply-votes {
  display: flex;
  flex-direction: column;
}
.question-card img,
.reply-card img {
  margin: 1rem;
  width: 15%;
  height: 70%;
  border-radius: 500px;
}
.number-svg {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.question-content {
  display: flex;
}
/* ------------- */
.see-more {
  /* background-color: red; */
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.see-more:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* -------------------------- */
.replies-component{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}
/* Back btn */
.back-btn {
  padding: 10px;
  font-size: 18px;
  color: rgb(64, 91, 224);
  background-color: #fff;
  border: 2px solid rgb(64, 91, 224);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.back-btn:hover {
  background-color: rgb(64, 91, 224);
  color: #fff;
}

.back-btn:focus {
  outline: none;
}

.reply-card p {
  text-align: left;
}
.reply-card-left{
  display: flex;
}
/* add question button */
.add-question-btn, .submit-question-btn,.add-reply-btn {
  padding: 10px 20px;
  background-color: rgb(64, 91, 224);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1rem;
}

.add-question-btn:hover,.submit-question-btn:hover ,.add-reply-btn:hover  {
  background-color: rgb(44, 64, 158);
}

.add-question-btn:focus,.submit-question-btn:focus  {
  outline: none;
}

.add-question-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  margin:  100px auto;
  background-color: rgba(224, 226, 226, 0.245);
  padding: 5rem;
}
/* -------------- */
.add-question-card form {
  width: 100%;
  text-align: left;
}

.add-question-card input {
  width: 100%; /* Use a percentage or specific width */
  margin-bottom: 10px; /* Add margin for spacing between inputs */
  border: 1px solid rgb(98, 100, 98);
  border-radius: 5px; /* Add border-radius for rounded corners */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}
