.card {
  /* background-color: var(--main-dark); */
  margin: 0 auto;
  padding: 50px;
  width: 50%;
  border-radius: 50px;
  color: var(--main-dark);
  font-family: sans-serif;
}
.separator {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
