:root {
  --secondary-light: #5588a3;
  --main-light: #e0f7fa;
  --light-2: #b2ebf2;
  --light-3: #80deea;
  --light-4: #4dd0e1;
  --secondary-dark: #00838f;
  --main-dark: #006064;
  --dark-2: #0097a7;
  --dark-3: #00acc1;
  --dark-4: #00bcd4;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--main-light);
}

h1 {
  color: var(--main-dark);
}
/* .logo {
  color: var(--main-dark);
  font-size: 48px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
} */
/* .searchBar {
  width: 35%;
  background-color: rgba(255, 255, 255, 0.744);
  padding: 16px;
  border: 1px solid var(--dark-3);
} */
/* -------------------------------------- */
